<form
  class="register-form container"
  [formGroup]="registerUserForm"
  (ngSubmit)="register()"
>
  <h1>Register</h1>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput name="login" formControlName="login" />
    <mat-error>{{ getErrorMessage("login") }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput name="email" formControlName="email" />
    <mat-error>{{ getErrorMessage("email") }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput name="firstName" formControlName="firstName" />
    <mat-error>{{ getErrorMessage("firstName") }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput name="lastName" formControlName="lastName" />
    <mat-error>{{ getErrorMessage("lastName") }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      name="password"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      type="button"
      tabindex="-1"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error>{{ getErrorMessage("password") }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repeat password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      name="repeatPassword"
      formControlName="repeatPassword"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      type="button"
      tabindex="-1"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error>{{ getErrorMessage("repeatPassword") }}</mat-error>
  </mat-form-field>
  <div class="row">
    <button mat-raised-button class="col-sm" type="submit">Register</button>
  </div>
</form>
