<h1 mat-dialog-title>{{isEditMode ? 'Edit wish' : 'Add wish'}}</h1>
<form mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" name="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput type="number" [(ngModel)]="data.price" name="price" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" [(ngModel)]="data.quantity" name="quantity" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      type="number"
      [(ngModel)]="data.description"
      name="description"
    >
    </textarea>
  </mat-form-field>

  <div class="container pt-1 pb-3">
    <h3 class="row">Visibility</h3>
    <mat-radio-group
      [(ngModel)]="choosenVisibility"
      name="visibility"
      class="row"
    >
      <mat-radio-button [value]="0" class="col-12 mt-1"
        >For friends</mat-radio-button
      >
      <mat-radio-button [value]="1" class="col-12 mt-1"
        >Private</mat-radio-button
      >
      <mat-radio-button [value]="2" class="col-12 mt-1" #specific
        >Specific friends</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <mat-form-field *ngIf="specific.checked" appearance="fill">
    <mat-label>Choose people</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let friend of choosenFriends"
        (removed)="remove(friend)"
      >
        {{friend}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Type a login..."
        #friendInput
        [formControl]="friendCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let friend of filteredFriends | async"
        [value]="friend"
        >{{friend}}</mat-option
      >
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image Url</mat-label>
    <textarea
      matInput
      type="number"
      [(ngModel)]="data.imageUrl"
      name="imageUrl"
    >
    </textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Deadline</mat-label>
    <input
      matInput
      [min]="todayDate()"
      [matDatepicker]="picker"
      [(ngModel)]="data.deadline"
      name="deadline"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</div>
