@import "../../../../assets/styles/variables.scss";

.item {
  overflow: auto;
}

.image {
  max-height: 50vh;
  max-width: 60vw;
  text-align: center;
  border: rgba(10, 10, 10, 0.2) solid 2px;
  border-radius: 5px;
}

.content {
  color: #bbb;
}

.owner {
  margin-bottom: 0;
  margin-top: 5px;
}

.price {
  margin-top: 0;
}

.description {
  color: white;
}

@keyframes warning {
  0% {
    color: $warn-color;
  }
  50% {
    color: $accent-color;
  }
  100% {
    color: $warn-color;
  }
}

.warning {
  animation: warning 3s infinite;
}
