<div class="bootstrap-wrapper">
  <div class="container">
    <div class="toolbar">
      <button
        mat-mini-fab
        color="primary"
        class="add-button"
        (click)="openDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-spinner *ngIf="isWishesLoading"></mat-spinner>
    <div class="row g-1" *ngIf="!isWishesLoading">
      <mat-card
        *ngFor="let item of wishes"
        class="item col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <mat-card-title-group>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.price"
            >{{ item.price / 100 }} zł</mat-card-subtitle
          >
          <img
            *ngIf="item.imageUrl"
            mat-card-md-image
            [src]="item.imageUrl"
            [alt]="item.name"
            class="image"
          />
        </mat-card-title-group>
        <mat-card-content>
          {{ item.description }}
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button
            mat-button
            (click)="openConfirmCompleteDialog(item)"
            matTooltip="Click to edit."
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            mat-button
            (click)="openDialog(item)"
            matTooltip="Click to edit."
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-button
            (click)="openConfirmRemoveDialog(item)"
            matTooltip="Click to delete."
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
