.image {
  display: block;
  max-width: 100px !important;
  max-height: 70px !important;
  width: auto;
}

.toolbar {
  text-align: right;
}

.add-button {
  margin: 5px;
  position: relative;
}

mat-card-title {
  max-height: 20px;
  overflow: hidden;
}

mat-card-content {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
