<form class="login-form container" #form="ngForm" (ngSubmit)="login()">
  <h1>Log In</h1>
  <mat-form-field appearance="fill">
    <mat-label>Username:</mat-label>
    <input matInput [(ngModel)]="user.login" name="username" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password:</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="user.password"
      name="password"
    />
    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="row">
    <button mat-raised-button class="col-sm" type="button">
      Forgot password
    </button>
    <button
      mat-raised-button
      class="col-sm"
      type="submit"
      [disabled]="isInputsEmpty()"
    >
      Login
    </button>
  </div>
</form>
