<nav>
  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-nav">
      <button class="nav-button" mat-button routerLink="/main">
        Wish List
      </button>
      <button class="nav-button" mat-button routerLink="/contact">
        Contact
      </button>
    </div>
    <div class="user-nav">
      <button class="nav-button" mat-button>Register</button>
      <button class="nav-button" mat-button routerLink="/login">Log In</button>
    </div>
  </mat-toolbar>
</nav>
<router-outlet> </router-outlet>
