<nav>
  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-nav">
      <button
        class="nav-button expand-button small-nav"
        mat-button
        [mat-menu-trigger-for]="responsiveMenu"
      >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button class="nav-button main-page-button" mat-button routerLink="/main">
        Wish List
      </button>
      <button class="nav-button big-nav" mat-button routerLink="/contact">
        {{ translateKey + "contact" | translate }}
      </button>

      <mat-menu #responsiveMenu="matMenu">
        <button class="nav-button" mat-button routerLink="/contact">
          <mat-icon>contact_phone</mat-icon>
          {{ translateKey + "contact" | translate }}
        </button>
      </mat-menu>
    </div>

    <div class="user-nav">
      <ng-container *ngIf="user === null; else userLogged">
        <button class="nav-button" mat-button routerLink="/register">
          {{ translateKey + "register" | translate }}
        </button>
        <button class="nav-button" mat-button routerLink="/login">
          {{ translateKey + "login" | translate }}
        </button>
      </ng-container>

      <ng-template #userLogged>
        <button
          class="nav-button"
          mat-mini-fab
          color="primary"
          routerLink="/messages"
        >
          <mat-icon
            [matBadge]="unreadMessagesCount"
            [matBadgeHidden]="unreadMessagesCount <= 0"
            matBadgeColor="warn"
            matBadgePosition="before"
            >message</mat-icon
          >
        </button>
        <button
          class="nav-button big-nav-user"
          mat-button
          [mat-menu-trigger-for]="main"
        >
          {{ translateKey + "hi" | translate }}, {{ user.firstName }}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <button
          class="nav-button small-nav-user"
          mat-button
          [mat-menu-trigger-for]="main"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #main="matMenu">
          <button mat-menu-item [mat-menu-trigger-for]="profile">
            <mat-icon>person</mat-icon>
            {{ translateKey + "profile" | translate }}
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            {{ translateKey + "settings" | translate }}
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>meeting_room</mat-icon>
            {{ translateKey + "logout" | translate }}
          </button>
        </mat-menu>

        <mat-menu #profile="matMenu">
          <button mat-menu-item routerLink="profile/my-wish-list">
            <mat-icon>view_list</mat-icon>
            {{ translateKey + "myWishList" | translate }}
          </button>
          <button mat-menu-item routerLink="profile/friends">
            <mat-icon>people</mat-icon>
            {{ translateKey + "friends" | translate }}
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </mat-toolbar>
</nav>
<div class="content bootstrap-wrapper">
  <router-outlet> </router-outlet>
</div>
