<div
  class="toast align-items-center text-white border-0 wrong-login"
  [ngClass]="{ show: isToastVisible }"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  #toast
>
  <div class="d-flex">
    <div class="toast-body">Wrong login or password.</div>
  </div>
</div>

<form class="login-form container" #form="ngForm" (ngSubmit)="login()">
  <mat-spinner *ngIf="loginStatus === 1"></mat-spinner>
  <h1>Log In</h1>
  <mat-form-field appearance="fill">
    <mat-label>Login:</mat-label>
    <input matInput [(ngModel)]="user.login" name="login" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password:</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="user.password"
      name="password"
    />
    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="row">
    <button mat-raised-button class="col-sm" type="button">
      Forgot password
    </button>
    <button
      mat-raised-button
      class="col-sm"
      type="submit"
      [disabled]="isInputsEmpty()"
    >
      Login
    </button>
  </div>
</form>
