<div class="chat-container container">
  <mat-spinner *ngIf="isChatsLoading"></mat-spinner>
  <div class="row chat-row">
    <div class="channels col-sm-3 container" *ngIf="!isChatsLoading">
      <div class="channels-column-title row">
        <div class="title" (click)="isChannelsHidden = !isChannelsHidden">
          Channels
          <span class="small">
            <mat-icon>
              {{
                isChannelsHidden ? "keyboard_arrow_down" : "keyboard_arrow_up"
              }}
            </mat-icon>
          </span>
        </div>
      </div>
      <div class="channels-column-textbox row">
        <div class="col-sm large">
          <input class="channels-textbox-input" type="text" />
          <button mat-mini-fab class="channels-textbox-button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div
        class="channels-column-content row"
        [ngClass]="isChannelsHidden ? '' : 'visible'"
      >
        <ng-container *ngIf="!isChatsLoading">
          <div
            *ngFor="let chat of chats"
            class="channel"
            (click)="selectChannel(chat)"
          >
            <div class="channel-title">{{ chat.name }}</div>
            <p class="channel-last-message">
              {{ chat.messages[chat.messages.length - 1].text }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="chat col-sm-9 container" *ngIf="!isChatsLoading">
      <div class="messages-container" *ngIf="selectedChannel">
        <div class="row chat-column-title">
          <div class="title">{{ selectedChannel.name }}</div>
        </div>
        <div class="row chat-column-content">
          <div
            class="message"
            *ngFor="let message of selectedChannel.messages; let i = index"
            [class.owner]="
              message.author.toLowerCase() === ownerLogin.toLowerCase()
            "
          >
            <div
              class="message-date"
              *ngIf="
                (i - 1 >= 0 &&
                  selectedChannel.messages[i - 1].postDate.getTime() <
                    message.postDate.getTime() - 600000 &&
                  message.author !== ownerLogin) ||
                (i === 0 && message.author !== ownerLogin)
              "
            >
              {{ displayDate(message.postDate) }}
            </div>
            <div
              class="message-owner-name"
              *ngIf="
                (i - 1 >= 0 &&
                  message.author.toLowerCase() !== ownerLogin.toLowerCase() &&
                  message.author !== selectedChannel.messages[i - 1].author) ||
                (i === 0 &&
                  message.author.toLowerCase() !== ownerLogin.toLowerCase())
              "
            >
              {{ message.author }}
            </div>
            <div
              class="message-text"
              [matTooltip]="displayDate(message.postDate)"
            >
              {{ message.text }}
            </div>
          </div>
        </div>
        <div class="chat-column-textbox row">
          <div class="col-sm">
            <form (submit)="sendMessage()">
              <textarea
                class="chat-textbox-input"
                type="text"
                [(ngModel)]="messageText"
                name="messageText"
              ></textarea>
              <button mat-mini-fab class="chat-textbox-button" type="submit">
                <mat-icon>send</mat-icon>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
