<div class="chat-container container">
  <div class="row">
    <div class="channels col-3">
      <div class="column-title">
        <div class="title">Channels</div>
      </div>
      <div class="column-content">
        <div class="channel">
          <div class="channel-title">Title</div>
          <p class="channel-last-message">last message</p>
        </div>
        <div class="channel">
          <div class="channel-title">Title</div>
          <p class="channel-last-message">last message</p>
        </div>
      </div>
    </div>
    <div class="chat col-9">
      <div class="column-title">
        <div class="title">Selected Channel</div>
      </div>
      <div class="column-content">
        <div class="message">
          <div class="message-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consequuntur aperiam iste, cumque, dicta nihil tempore dignissimos
          </div>
        </div>

        <div class="message">
          <div class="message-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consequuntur aperiam iste, cumque, dicta nihil tempore dignissimos
          </div>
        </div>
        <div class="message owner">
          <div class="message-text owner">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consequuntur aperiam iste, cumque, dicta nihil tempore dignissimos
          </div>
        </div>
      </div>
      <div class="textbox row">
        <div class="col-11">
          <textarea class="textbox-input" type="text"></textarea>
        </div>
        <div class="col-1">
          <button mat-mini-fab class="sent-button">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
