.chat-container {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #3c3c3c;
  box-shadow: 2px 2px 2px 2px #1c1c1c;
  overflow: hidden;
  max-height: 80vh;
}

.chat-row {
  max-height: 80vh;
}

.title {
  font-size: 25px;
  margin-left: 10px;
  padding: 10px;
}

.channels {
  background-color: #222;
  max-height: 80vh;
}

.channels-column-title {
  height: 100%;
  max-height: 45px;
}

.channels-column-content {
  max-height: calc(100% - 85px);
  overflow: auto;
}

.channels-column-textbox {
  height: 100%;
  max-height: 40px;
}

.channels-textbox-input {
  padding: 5px 10px 6px 10px;
  border-radius: 15px;
  resize: none;
  width: 100%;
}

.channels-textbox-button {
  position: sticky;
  left: 100%;
  bottom: 100%;
  transform: scale(0.7) translateY(-4px);
}

.channel {
  border-radius: 4px;
  margin-top: 5px;
  max-height: 80px;
  height: 100%;
}

.channel-title {
  font-size: 20px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-last-message {
  padding: 5px 0 5px 20px;
  color: #ccc;
  font-size: 13px;
  max-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel:nth-child(even) {
  background-color: #353535;
}

.channel:nth-child(odd) {
  background-color: #292929;
}

.chat {
  background-color: #444;
  max-height: 80vh;
}

.chat-column-title {
  height: 100%;
  max-height: 35px;
}

.chat-column-content {
  max-height: calc(100% - 95px);
  overflow: auto;
}

.chat-column-textbox {
  height: 100%;
  max-height: 60px;
}

.chat-textbox-input {
  padding: 5px 30px 5px 10px;
  margin: 5px;
  border-radius: 15px;
  resize: none;
  width: 100%;
}

.chat-textbox-input::-webkit-scrollbar {
  display: none;
}

.chat-textbox-button {
  margin-top: 10px;
  position: sticky;
  left: 100%;
  bottom: 100%;
}

.message {
  margin-top: 5px;
  width: 100%;
  display: flex;
}

.message.owner {
  margin-top: 5px;
  width: 100%;
  flex-direction: row-reverse;
}

.message-text {
  background-color: #ddd;
  color: black;
  width: fit-content;
  max-width: 97%;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  word-wrap: break-word;
  margin-right: 5px;
}

.message-text.owner {
  background-color: #9c27b0;
  color: white;
}

.small {
  display: none;
}

@media only screen and (max-width: 576px) {
  .chat-container {
    margin-top: 0;
    max-height: none;
  }

  .chat-row {
    max-height: none;
  }

  .large {
    display: none;
  }

  .small {
    display: inline;
  }

  .channel {
    margin-top: 0;
    padding: 3px 0;
  }

  .channels-column-title > .title {
    text-align: center;
  }

  .channels-column-content {
    display: none;
  }

  .channels-column-content.visible {
    display: inline;
    position: absolute;
    top: 100px;
    background-color: #1c1c1c;
    width: 100%;
    z-index: 100;
    max-height: 80vh;
  }
}
