<ng-container *ngIf="!user">
  <header>
    <h1>{{ translatekey + "welcome" | translate }}</h1>
  </header>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="card-container col-12 col-md-4 g-1">
          <div class="card">
            <h2 class="title">
              {{ translatekey + "whatIsWishList.title" | translate }}
            </h2>
            <p class="text">
              {{ translatekey + "whatIsWishList.p1" | translate }}
            </p>
            <p class="text">
              {{ translatekey + "whatIsWishList.p2" | translate }}
            </p>
          </div>
        </div>
        <div class="card-container col-12 col-md-4 g-1">
          <div class="card">
            <h2 class="title">
              {{ translatekey + "forWho.title" | translate }}
            </h2>
            <p class="text">
              {{ translatekey + "forWho.p1" | translate }}
            </p>
            <p class="text">
              {{ translatekey + "forWho.p2" | translate }}
            </p>
          </div>
        </div>
        <div class="card-container col-12 col-md-4 g-1">
          <div class="card">
            <h2 class="title">
              {{ translatekey + "letsStart.title" | translate }}
            </h2>
            <p class="text">
              {{ translatekey + "letsStart.p1" | translate }}
            </p>
            <p class="text">
              {{ translatekey + "letsStart.p2" | translate }}
            </p>
            <ul>
              <li>joedoe</li>
              <li>janedoe</li>
              <li>shaanferguson</li>
              <li>leianeale</li>
            </ul>
            <p class="text">{{ translatekey + "letsStart.p3" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="bootstrap-wrapper">
  <div class="container">
    <h2 class="mt-4 text-center">
      {{
        (user ? translatekey + "wishes" : translatekey + "sampleWishes")
          | translate
      }}
    </h2>
    <div class="row g-1">
      <ng-container *ngFor="let item of wishes">
        <app-wish-item
          *ngIf="visibility(item)"
          [item]="item"
          class="col-12 col-sm-6 col-md-4 col-lg-3"
        ></app-wish-item>
      </ng-container>
    </div>
  </div>
</div>
