<header>
  <h1>Welcome to Wish List</h1>
</header>
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <h2 class="title">What is Wish List?</h2>
          <!-- <p class="text">
          Wish List is application where you can add items which you want get as a
          present. You can also buy presents for you family or friends.
        </p> -->
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
            animi perferendis commodi ut sit quibusdam voluptatum id dolores.
            Magni, asperiores! Ipsam eos quisquam dolor facere, accusantium
            laboriosam. Recusandae, illum molestiae!
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <h2 class="title">For Who?</h2>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
            minima ab unde animi est eveniet error repellat at quod totam dicta
            velit maiores alias facere repellendus dolores esse praesentium
            incidunt?
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <h2 class="title">Let's start!</h2>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
            minima ab unde animi est eveniet error repellat at quod totam dicta
            velit maiores alias facere repellendus dolores esse praesentium
            incidunt?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
