<div class="assign-dialog">
  <h2 class="text-center">{{ data.name }}</h2>
  <div class="content">
    <p class="text">
      You will buy {{ data.name }} for <strong>{{ data.userId }}</strong
      >. <br />
    </p>
    <p class="text">
      If <strong>{{ data.userId }}</strong> has provided a price, choose how
      much you are able to give and click the check button. Otherwise, just
      click the button.
    </p>
    <p class="price" *ngIf="data.price">
      Price: <span class="price-value">{{ data.price / 100 }} zł</span><br>
      <span *ngIf="data.quantity > 1">Quantity: {{data.quantity}}</span>
    </p>
  </div>
  <section class="values row mt-2" *ngIf="data.price">
    <mat-divider class="m-2"></mat-divider>
    <div class="col">Percentage value: {{ sliderValue }}%</div>
    <div class="col">Amount: {{ amountValue }} zł</div>
  </section>
  <section class="select-values row" *ngIf="data.price">
    <mat-slider
      min="0"
      max="100"
      thumbLabel="true"
      [(ngModel)]="sliderValue"
      class="col-12 mt-3"
      (change)="onSliderChange()"
    ></mat-slider>
    <mat-form-field class="col-12" color="accent">
      <mat-label>Type amount</mat-label>
      <input
        type="number"
        matInput
        [(ngModel)]="amountValue"
        (change)="onAmountChange()"
        min="0"
        [max]="data.price * data.quantity"
      />
    </mat-form-field>
  </section>
  <section class="action-buttons row">
    <button
      mat-button
      class="col"
      (click)="onSubmit()"
      [disabled]="
        (!(sliderValue > 0 && amountValue > 0) && data.price) ||
        (data.price && amountValue > data.price && sliderValue > 100)
      "
      color="accent"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button mat-button class="col" (click)="onCancel()" color="warn">
      <mat-icon>cancel</mat-icon>
    </button>
  </section>
</div>
